<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <title>Admin panel</title>
</head>
<body>


<div class="navbar navbar-dark bg-dark">
    <span class="navbar-text text-white">
        <span class="font-weight-bold" th:text="${username}"></span>
      <span th:text="'with roles: '"></span>
        <span th:each="role : ${roles}" th:text="${#strings.replace(role.getName(), 'ROLE_', '') + ' '}"></span>
    </span>
    <form th:action="@{/logout}" method="post" class="form-inline">
        <button type="submit" class="btn btn-outline-light">Logout</button>
    </form>
</div>

<div class="container-fluid min-vh-100">
    <div class="row min-vh-100">
        <nav class="col-md-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="/admin/all-users" class="nav-link active"> Admin</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user" class="nav-link"> User</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="col-md-10">
            <h1>Admin panel</h1>
            <br>
            <div class="d-flex align-items-center">
                <h5 class="mb-0">Users table</h5>
                <a href="/admin/new-user" class="text-primary ml-3">New user</a>
            </div>
            <br>
            <div class="ml-1">
                <h5>All users</h5>
            </div>

            <style>
                .nav-link.active {
                    background-color: cornflowerblue;
                    color: white;
                    padding-left: 0;
                    text-indent: 10px;
                }

                .sidebar {
                    padding-left: 0;
                }

                .nav-link {
                    padding-left: 0;
                    text-indent: 10px;
                }

            </style>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>LastName</th>
                    <th>Age</th>
                    <th>Username</th>
                    <th>Roles</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}">1</td>
                    <td th:text="${user.name}">John</td>
                    <td th:text="${user.lastName}">Doe</td>
                    <td th:text="${user.age}">30</td>
                    <td th:text="${user.username}">johndoe</td>
                    <td>
                        <span th:each="role : ${user.roles}"
                              th:text="${#strings.replace(role.name, 'ROLE_', '') + ' '}"></span>
                    </td>
                    <td>

                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                th:data-target="'#modal' + ${user.id}">
                            Edit
                        </button>

                        <div class="modal fade" th:id="'modal' + ${user.id}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit user</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/admin/update-user}" method="post">
                                            <div class="form-group">
                                                <label class="font-weight-bold text-center w-100">ID</label>
                                                <input type="text" class="form-control" name="id" th:value="${user.id}"
                                                       readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold text-center w-100">name</label>
                                                <input type="text" class="form-control" name="name"
                                                       th:value="${user.name}">
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold text-center w-100">Last Name</label>
                                                <input type="text" class="form-control" name="lastName"
                                                       th:value="${user.lastName}">
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold text-center w-100">Age</label>
                                                <input type="number" class="form-control" name="age"
                                                       th:value="${user.age}">
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold text-center w-100">Username</label>
                                                <input type="text" class="form-control" name="username"
                                                       th:value="${user.username}">
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold text-center w-100">Password</label>
                                                <input type="text" class="form-control" name="password">
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold text-center w-100">Roles</label>
                                                <select class="form-control" name="roleIds" multiple>
                                                    <option th:each="role : ${roles}" th:value="${role.id}"
                                                            th:text="${#strings.replace(role, 'ROLE_', '')}"
                                                            th:selected="${user.roles.contains(role)}"></option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>

                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                th:data-target="'#modald' + ${user.id}">
                            Delete
                        </button>

                        <div class="modal fade" th:id="'modald' + ${user.id}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete user</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/admin/delete}" method="post">
                                            <div class="form-group">
                                                <label class="font-weight-bold text-center w-100">ID</label>
                                                <input type="text" class="form-control" name="id" th:value="${user.id}"
                                                       readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold text-center w-100">name</label>
                                                <input type="text" class="form-control" name="name"
                                                       th:value="${user.name}" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold text-center w-100">Last Name</label>
                                                <input type="text" class="form-control" name="lastName"
                                                       th:value="${user.lastName}" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold text-center w-100">Age</label>
                                                <input type="number" class="form-control" name="age"
                                                       th:value="${user.age}" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold text-center w-100">Username</label>
                                                <input type="text" class="form-control" name="username"
                                                       th:value="${user.username}" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold text-center w-100">Roles</label>
                                                <select class="form-control" name="roleIds" multiple>
                                                    <option th:each="role : ${roles}" th:value="${role.id}"
                                                            th:text="${#strings.replace(role, 'ROLE_', '')}"
                                                            th:selected="${user.roles.contains(role)}"></option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </td>
                </tr>
                </tbody>
            </table>


</body>
</html>