<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">

    <title>Admin panel</title>
</head>
<body>


<div class="navbar navbar-dark bg-dark">
    <span class="navbar-text text-white">
        <span class="font-weight-bold" ID="adminUsernameNavbar"></span>
      <span id="rolesAdminNavbar"></span>
        <span id="adminRolesSpan"></span>
    </span>
    <form th:action="@{/logout}" method="post" class="form-inline">
        <button type="submit" class="btn btn-outline-light">Logout</button>
    </form>
</div>

<style>
    .nav-link.active {
        background-color: cornflowerblue;
        color: white;
        padding-left: 0;
        text-indent: 10px;
    }

    .sidebar {
        padding-left: 0;
    }

    .nav-link {
        padding-left: 0;
        text-indent: 10px;
    }

</style>


<div class="container-fluid min-vh-100">
    <div class="row min-vh-100">
        <nav class="col-md-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="/admin/all-users" class="nav-link active"> Admin</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user" class="nav-link"> User</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="col-md-10">
            <h1>Admin panel</h1>
            <br>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="new-user-tab" data-toggle="tab" href="#new-user" role="tab" aria-controls="new-user" aria-selected="false">New User</a>
                </li>
            </ul>


            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                    <br>
                    <div class="d-flex align-items-center">
                        <h5>Users table</h5>
                    </div>
                    <br>
            <table class="table table-striped" id="AdminTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>LastName</th>
                    <th>Age</th>
                    <th>Username</th>
                    <th>Roles</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
                </div>


                <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
                    <h5 class>Add new user</h5>
                    <div class="container-fluid min-vh-100">
                        <div class="row min-vh-100 justify-content-center">
                            <div class="col-md-3">
                    <br>
                    <form id="addUserForm">
                        <div class="form-group text-center">
                            <label for="name" class="font-weight-bold text-center">First name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>

                        <div class="form-group text-center">
                            <label for="lastName" class="font-weight-bold">Last name</label>
                            <input type="text" class="form-control" id="lastName"
                                   placeholder="Last name">
                        </div>

                        <div class="form-group text-center">
                            <label for="age" class="font-weight-bold">Age</label>
                            <input type="number" class="form-control" id="age" placeholder="Age">
                        </div>

                        <div class="form-group text-center">
                            <label for="username" class="font-weight-bold">Username</label>
                            <input type="text" class="form-control"  id="username"
                                   placeholder="username">
                        </div>

                        <div class="form-group text-center">
                            <label for="password" class="font-weight-bold">Password</label>
                            <input type="password" class="form-control" id="password"
                                   placeholder="Password">
                        </div>

                        <div class="form-group text-center">
                            <label for="roles" class="font-weight-bold">Role</label>
                            <select multiple class="form-control" name="roleIds" id="roles">
                                <option value="1">ROLE_USER</option>
                                <option value="2">ROLE_ADMIN</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success btn-block">Add new user</button>
                    </form>
                </div>
            </div>
                </div>
            </div>
            </div>


            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label class="font-weight-bold text-center w-100">ID</label>
                                    <input type="text" class="form-control" id="idDel"
                                           readonly>
                                </div>
                                <div class="form-group" >
                                    <label class="font-weight-bold text-center w-100">name</label>
                                    <input type="text" class="form-control" id="nameDel"
                                           readonly>
                                </div>
                                <div class="form-group" >
                                    <label class="font-weight-bold text-center w-100">Last Name</label>
                                    <input type="text" class="form-control" id="lastNameDel"
                                            readonly>
                                </div>
                                <div class="form-group" >
                                    <label class="font-weight-bold text-center w-100">Age</label>
                                    <input type="number" class="form-control" id="ageDel"
                                           readonly>
                                </div>
                                <div class="form-group" >
                                    <label class="font-weight-bold text-center w-100">Username</label>
                                    <input type="text" class="form-control" name="username" id="usernameDel"
                                          readonly>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold text-center w-100">Roles</label>
                                        <select multiple class="form-control" name="roleIds" id="rolesDel">
                                            <option value="1">ROLE_USER</option>
                                            <option value="2">ROLE_ADMIN</option>
                                        </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-danger" id="userDeleteButtonModal">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label class="font-weight-bold text-center w-100">ID</label>
                                    <input type="text" class="form-control" name="id" id="idUpdate"
                                           readonly>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold text-center w-100">name</label>
                                    <input type="text" class="form-control" name="name" id="nameUpdate">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold text-center w-100">Last Name</label>
                                    <input type="text" class="form-control" name="lastName" id="lastNameUpdate">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold text-center w-100">Age</label>
                                    <input type="number" class="form-control" name="age" id="ageUpdate">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold text-center w-100">Username</label>
                                    <input type="text" class="form-control" name="username" id="usernameUpdate">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold text-center w-100">Password</label>
                                    <input type="text" class="form-control" name="password" id="passwordUpdate">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold text-center w-100">Roles</label>
                                    <select multiple class="form-control" name="roleIds" id="rolesUpdate">
                                        <option value="1">ROLE_USER</option>
                                        <option value="2">ROLE_ADMIN</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-primary" id="UpdateUserModalButton">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>









            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
            <script src="/Admin.js"></script>
</body>
</html>